name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "10.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore cms-backend.slnx

      - name: Build
        run: dotnet build cms-backend.slnx --configuration Release --no-restore

      - name: Test
        run: dotnet test cms-backend.slnx --configuration Release --no-restore --no-build

      - name: Publish
        run: dotnet publish cms-backend.slnx --configuration Release --no-restore --no-build
